/*@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');



body {
  margin: 0;
  font-family: 'Red Rose', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  width: 1200px;
  margin: auto;
}
/*Nav bar*/
.nav-img{
  width: 200px;
}
.btn button{
  background-color: #A02279;
  color: white;
  padding: 10px 15px;
  border: 0;
  border-radius: 8px;
  font-weight: 300;
  font-size: 18px;
}
.bars{
  font-weight: 500;
  font-size: 18px;
  color: #434343;
  font-style: normal;
}
#connect-btn {
 padding-right: 25px;
}

.modal-dialog {
  vertical-align:middle;
  height:18em;
  
}
/*header*/
.header-row{
  padding-top: 80px;
  padding-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-col{
  width: 600px;
}
span{
  color: #A02279;
}
.header-col h1{
  font-weight: 500;
  font-size: 40px;
}
.header-content p{
  max-width: 400px;
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  color: #434343;
  line-height: 25px;
}
.btn-search{
  position: relative;
  width:80%;
}
form input{
  width: 90%;
  height: 40px;
  display: block;
  border-radius: 10px;
  border: 1px solid  #A3A3A3;
}
::placeholder{
  color:#B8B8B8;
  padding-left: 10px;
  font-size: 14px;
  
}
.search-btn{
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
  height: 100%;
  background-color: #A02279;
  border: 1px solid #A02279;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  
}
.header-img{
  width: 400px;
}

/*brands*/
.brands{
  background-color: #A02279;
  height: 40px;
  width: 100%;
}
.brands-grp{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.brands-grp img{
  width: 150px;
}
/*Show*/
.show{
  padding-top: 50px;
  padding-bottom: 50px;
}
.show h1{
  text-align: center;
  padding-bottom: 40px;
}

/*about*/
#about{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #A02279;
}
.about-row{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}
.about-col{
  width: 600px;
  color: white;
}
.about-col-content{
  max-width: 350px;
}
.about-col-content h2{
  font-weight: 700;
  font-size: 32px;
}
.about-col-content p{
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
.btn-white{
  color: #A02279;
  background-color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  border: 1px solid white;
}
/*footer*/
#footer{
  background-color: black;
  color: #f7f7f7!important;
}

.hidden{
  display: none;
}




@media screen and (max-width:576px){
   .container{
    width: 100%;
  }
  .nav-img{
    width: 150px;
  }
  .bars{
    font-weight: 400;
    font-size: 16px;
  }
  .header-row{
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
  }
  .header-col{
    width: 360px;
  }
  .header-col h1{
    font-size: 30px;
  }
  .header-content p{
    max-width: 300px;
  }
  .header-img{
    width: 300px;
    margin-top: 20px;
  }
  .brands-grp img{
    width: 80px;
  }
  .brands{
    height: 25px;
  }
  .show-row{
    flex-direction: column;
    margin-bottom: 1px;
  }
  .col-card{
    margin-top: 10px;
  }
  .about-row{
    flex-direction: column;
    align-items: flex-start;
  }
  .about-col-content{
    width: 300px;
  }
  .about-img{
    width: 320px;
    margin-top: 20px;
  }
 
 
 
}
