/*@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');



body {
  margin: 0;
  font-family: 'Red Rose', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  width: 1200px;
  margin: auto;
}
/*Nav bar*/
.nav-img{
  width: 200px;
}
.btn button{
  background-color: #A02279;
  color: white;
  padding: 10px 15px;
  border: 0;
  border-radius: 8px;
  font-weight: 300;
  font-size: 18px;
}
.bars{
  font-weight: 500;
  font-size: 18px;
  color: #434343;
  font-style: normal;
}
#connect-btn {
 padding-right: 25px;
}

.modal-dialog {
  vertical-align:middle;
  height:18em;
  
}
/*header*/
.header-row{
  padding-top: 80px;
  padding-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-col{
  width: 600px;
}
span{
  color: #A02279;
}
.header-col h1{
  font-weight: 500;
  font-size: 40px;
}
.header-content p{
  max-width: 400px;
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  color: #434343;
  line-height: 25px;
}
.btn-search{
  position: relative;
  width:80%;
}
form input{
  width: 90%;
  height: 40px;
  display: block;
  border-radius: 10px;
  border: 1px solid  #A3A3A3;
}
::placeholder{
  color:#B8B8B8;
  padding-left: 10px;
  font-size: 14px;
  
}
.search-btn{
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
  height: 100%;
  background-color: #A02279;
  border: 1px solid #A02279;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  
}
.header-img{
  width: 400px;
}

/*brands*/
.brands{
  background-color: #A02279;
  height: 40px;
  width: 100%;
}
.brands-grp{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.brands-grp img{
  width: 150px;
}
/*Show*/
.show{
  padding-top: 50px;
  padding-bottom: 50px;
}
.show h1{
  text-align: center;
  padding-bottom: 40px;
}
.show-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
 
}
.col-card{
  width: 250px;
  height: 320px;
  border: 1px solid #D7D7D7;
  border-radius: 10px;
  text-align: center;
}
.col-img{
  width: 220px;
  height: 240px;
  margin-top: 10px;
}
.col-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #434343;
  text-align: left;
  margin-left: 12px;
  margin-right: 12px;
  
}
.col-footer p{
  font-size: 12px;
  margin-bottom: 2px ;
}
.bold{
  font-weight: 700;
}
.icons{
  color: #A02279;
  text-align: left;
  margin-left: 10px;
}
/*about*/
#about{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #A02279;
}
.about-row{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}
.about-col{
  width: 600px;
  color: white;
}
.about-col-content{
  max-width: 350px;
}
.about-col-content h2{
  font-weight: 700;
  font-size: 32px;
}
.about-col-content p{
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
.btn-white{
  color: #A02279;
  background-color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  border: 1px solid white;
}
/*footer*/
#footer{
  background-color: black;
  color: #f7f7f7!important;
}
/*
.footer-row{
  padding-top: 50px;
  display: flex;
  align-items: flex-start;
 justify-content: space-between;
  padding-bottom: 40px;
}
.footer-col-1{
  flex-basis: 25%;
  text-align: left;
}
.footer-img{
  padding-bottom: 30px;
}
.social-icons{
  padding-top: 30px;
  padding-bottom: 30px;
}
.social-icons img{
  padding-right: 10px;
  margin-right: 15px;
}
.copy{
  color: #f7f7f7;
  font-size: 14px;
}
ul li{
  list-style: none;
  padding: 10px 0px;
  margin-right: 15px;
  
}
.footer-col p{
  margin-left: 25px;
}*/
.hidden{
  display: none;
}
.pts-option{
  margin-top: 30px;
  margin-bottom: 20px;
}
.pts-option ol li{
  list-style: none;
  display: inline-block;
  padding-right: 05px;
  width: 10%;
  height: 15px;
  color: #434343;
  font-weight: 400;
  font-size: 18px;
}

/*modal*/

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 10px;
  max-width: 450px;
 
}
.wallet{
  border: 1px solid #CFD8DC;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  width: 350px;
  border-radius: 10px;
  margin-top: 5px;
  padding: 0px 15px;
}
.wallet:hover{
  background-color: #CFD8DC;
}
.wallet img, p{
  margin-left: 5px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  border: 0;
}
hr{
  width: 100%;
}


@media screen and (max-width:576px){
  .nav-img{
    width: 150px;
  }
  .bars{
    font-weight: 400;
    font-size: 16px;
  }
  .header-row{
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
  }
  .header-col{
    width: 360px;
  }
  .header-col h1{
    font-size: 30px;
  }
  .header-content p{
    max-width: 300px;
  }
  .header-img{
    width: 300px;
    margin-top: 20px;
  }
  .brands-grp img{
    width: 80px;
  }
  .brands{
    height: 25px;
  }
  .show-row{
    flex-direction: column;
    margin-bottom: 1px;
  }
  .col-card{
    margin-top: 10px;
  }
  .about-row{
    flex-direction: column;
    align-items: flex-start;
  }
  .about-col-content{
    width: 300px;
  }
  .about-img{
    width: 320px;
    margin-top: 20px;
  }
  .footer-row{
    flex-direction: column; 
  }
 
 
}